.container {
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
  max-width: 800px;
}
main {
  overflow-y: auto;
  margin-bottom: auto;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
